@model IEnumerable<Infraestructure.Models.Producto>

<h1 style="text-align: center">Mi productos</h1>

<p>
    <a href="@Url.Action("AgregarProductoView", "Producto")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Agregar nuevo producto</a>
</p>
<table class="table">
    <tr>
        <th>
            Fotografía
        </th>
        <th>
            Descripción
        </th>
        <th>
            Precio
        </th>
        <th>
            Tipo de producto
        </th>
        <th>
            Restaurante perteneciente
        </th>
        <th>
            Estado actual
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Fotografia)" width="100" style="margin-top: 20px" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProducto.TipoProducto1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurante.Nombre)
            </td>

            @if (item.EstadoActual == "Activo")
            {
                <td>
                    <a href="@Url.Action("CambiarEstado", "Producto", new {id = item.ID_Producto})" class="btn"><i class="fa-solid fa-cookie-bite" style="color: green"></i></a>
                </td>

            }
            else
            {
                <td>
                    <a href="@Url.Action("CambiarEstado", "Producto", new {id = item.ID_Producto})" class="btn"><i class="fa-solid fa-cookie-bite" style="color: red"></i></a>
                </td>

            }
        <td>
            <a href="@Url.Action("EditarProductoView", "Producto")" class="btn"><i class="fa-solid fa-pen-to-square" style="color: orange"></i></a>
        </td>
        </tr>
    }

</table>
