@model Infraestructure.Models.Usuario
@{
    ViewBag.Title = "AgregarUsuarioView";
    List<SelectListItem> perfil = ViewBag.Perfil ?? new List<SelectListItem>();
}
<link href="~/Content/Estilos/Agregar-Editar.css" rel="stylesheet" />
<h1 style="text-align: center">Agregar nuevo usuario</h1>

@using (Html.BeginForm("AgregarUsuario", "Usuario"))
{
    @Html.AntiForgeryToken()
    <main class="form-signin w-100 m-auto">
        <form>
            <div class="form-floating mb-3">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" } })
                <label for="floatingInput">Nombre</label>
            </div>

            <div class="form-floating mb-3">
                @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" } })
                <label for="floatingInput">Primer apellido</label>
            </div>

            <div class="form-floating mb-3">
                @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" } })
                <label for="floatingInput">Segundo apellido</label>
            </div>

            <div class="form-floating mb-3">
                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" } })
                <label for="floatingInput">Correo electrónico</label>
            </div>

            <div class="form-floating">
                @Html.PasswordFor(model => model.Contrasenna, new { @class = "form-control", @id = "floatingPassword", @placeholder = "Password" })
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="form-floating mb-3">
                @Html.DropDownListFor(model => model.ID_Perfil, (IEnumerable<SelectListItem>)ViewBag.Perfil, new { @class = "form-select", id = "ID_Perfil" })
                <label for="ID_Perfil">Perfil</label>
                @Html.ValidationMessageFor(model => model.ID_Perfil, "", new { @class = "text-danger" })
            </div>

            <div class="form-floating mb-3">
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit" id="toastrSuccess">Crear usuario</button>
            @*<button class="btn btn-primary w-100 py-2" type="submit">Crear usuario</button>*@

        </form>
    </main>
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#toastrSuccess").click(function () {
                toastr.success("El usuario se agregó correctamente", "Exito");
            })
        })
    </script>
}