@model IEnumerable<Infraestructure.Models.Usuario>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<p>
    <a href="@Url.Action("AgregarUsuarioView", "Usuario")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Agregar nuevo usuario</a>
</p>

<table class="table" style="text-align: center">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Primer apellido
        </th>
        <th>
            Segundo apellido
        </th>
        <th>
            Correo electrónico
        </th>
        <th>
            Estado actual
        </th>
        <th>
            Perfil
        </th>
        <th>
            Acciones
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @if (item.EstadoActual == "Activo")
                {
                    <a href="@Url.Action("CambiarEstado", "Usuario", new {id = item.ID_Usuario})" class="btn btn-success"><i class="fa-regular fa-user"></i></a>
                }
                else
                {
                    <a href="@Url.Action("CambiarEstado", "Usuario", new {id = item.ID_Usuario})" class="btn btn-danger"><i class="fa-regular fa-user"></i></a>
                }
            </td>
            @if (item.ID_Perfil == 1)
            {
                <td>
                    Administrador
                </td>
            }
            else if (item.ID_Perfil == 2)
            {
                <td>
                    Gerente
                </td>
            }
            else
            {
                <td>
                    Cliente
                </td>
            }

            <td>
                <a href="@Url.Action("AgregarUsuarioView", "Usuario")" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
    }

</table>
