@model IEnumerable<Infraestructure.Models.Usuario>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<h1 style="text-align: center">Lista de usuarios</h1>


<p>
    <a href="@Url.Action("AgregarUsuarioView", "Usuario")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Agregar nuevo usuario</a>
</p>

<style>
    .este {
        height: 30em;
        overflow: auto;
    }
</style>
<div class="container-fluid row">
    <div id="detalleseleccion" name="detalleseleccion" class="este">
        <table class="table table-striped" style="text-align: center">
            <tr>
                <th>
                    Nombre completo
                </th>
                <th>
                    Correo electrónico
                </th>
                <th>
                    Perfil
                </th>
                <th>
                    Estado actual
                </th>
                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td colspan="1">
                        @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.PrimerApellido) @Html.DisplayFor(modelItem => item.SegundoApellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorreoElectronico)
                    </td>
                    @if (item.ID_Perfil == 1)
                    {
                        <td>
                            Administrador
                        </td>
                    }
                    else if (item.ID_Perfil == 2)
                    {
                        <td>
                            Gerente
                        </td>
                    }
                    else
                    {
                        <td>
                            Cliente
                        </td>
                    }
                    <td>
                        @if (item.EstadoActual == "Activo")
                        {
                            <a href="@Url.Action("CambiarEstado", "Usuario", new {id = item.ID_Usuario})" class="btn"><i class="fa-solid fa-user" style="color: green"></i></a>
                        }
                        else
                        {
                            <a href="@Url.Action("CambiarEstado", "Usuario", new {id = item.ID_Usuario})" class="btn"><i class="fa-solid fa-user" style="color: red"></i></a>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("AgregarUsuarioView", "Usuario")" class="btn"><i class="fa-solid fa-pen-to-square" style="color: blue"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


