@model Infraestructure.Models.Usuario
@{
    ViewBag.Title = "RegistrarUsuarioView";
    Layout = "~/Views/Shared/_LayoutSinNavbar.cshtml";
    List<SelectListItem> perfil = ViewBag.Perfil ?? new List<SelectListItem>();
}

<head>
    <link href="~/Content/Estilos/IniciarSesion-Registrar.css" rel="stylesheet" />
</head>

@using (Html.BeginForm("RegistrarUsuario", "Usuario"))
{
    @Html.AntiForgeryToken()
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-1 col-xl-4">
                    <img src="~/Content/Imagenes/UberEats-Logo.png"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form>
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Crear nueva cuenta</p>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0"></p>
                        </div>

                        <div data-mdb-input-init class="form-floating mb-4">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" } })
                            <label for="floatingInput">Nombre</label>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-floating">
                                    @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" } })
                                    <label for="floatingInput">Primer apellido</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-floating">
                                    @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" } })
                                    <label for="floatingInput">Segundo apellido</label>
                                </div>
                            </div>
                        </div>

                        <div data-mdb-input-init class="form-floating mb-4">
                            @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" } })
                            <label for="floatingInput">Correo electrónico</label>
                        </div>

                        <div data-mdb-input-init class="form-floating mb-3">
                            @Html.PasswordFor(model => model.Contrasenna, new { @class = "form-control", @id = "floatingPassword", @placeholder = "Password" })
                            <label for="floatingPassword">Contraseña</label>
                        </div>

                        <div data-mdb-input-init class="form-floating mb-3" hidden>
                            <div class="form-floating mb-3 mb-md-0">
                                @Html.DropDownList("ID_Perfil", (IEnumerable<SelectListItem>)perfil, htmlAttributes: new { @class = "form-control" })
                                <label for="inputPassword">Perfil</label>
                            </div>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Crear cuenta
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
}