<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbars/">
    <link href="~/Content/Estilos/Navbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>



<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                <a @Url.Action("Index", "Home") class="navbar-brand col-lg-3 me-0"><img width="35pc" src="~/Content/Imagenes/UberEats-Logo.png" /></a>
                <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contactos</a>
                    </li>
                </ul>

                <div class="d-lg-flex col-lg-3 justify-content-lg-end" style="margin-right: 7pc">
                    <div class="dropdown" style="margin-right: 7pc">
                        @{
                            String nombreUsuario = " Mi cuenta";
                            String correoUsuario = "";

                            if (Session["Usuario"] != null)
                            {
                                Infraestructure.Models.Usuario usuario = new Infraestructure.Models.Usuario();
                                usuario = (Infraestructure.Models.Usuario)Session["Usuario"];
                                nombreUsuario = $" {usuario.Nombre} {usuario.PrimerApellido} {usuario.SegundoApellido}";
                                correoUsuario = usuario.CorreoElectronico;
                            }
                        }
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-id-card"></i>@nombreUsuario
                        </button>
                        <ul class="dropdown-menu">
                            @if (Session["Usuario"] != null)
                            {
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-at"></i> @correoUsuario</a></li>
                            }
                            @if (Session["Usuario"] == null)
                            {
                                <li><a class="dropdown-item" href="@Url.Action("IniciarSesionView","Usuario")"><i class="fa-solid fa-user-large"></i> Iniciar sesión</a></li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" href="@Url.Action("Index","Tarjeta")"><i class="fa-regular fa-credit-card"></i> Tarjetas</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="@Url.Action("CerrarSesion","Usuario")"><i class="fa-solid fa-user-large-slash"></i> Cerrar sesión</a></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
</body>