@model IEnumerable<Infraestructure.Models.Restaurante>

<p>
    @Html.ActionLink("Crear nuevo restaurante", "AgregarRestauranteView")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Canton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionExacta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoActual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoRestaurante.TipoRestaurante1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionExacta)
            </td>
            <td>
                @if (item.Fotografia != null)
                {
                    <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Fotografia)" width="100" style="margin-top: 20px" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRestaurante.TipoRestaurante1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_Restaurante }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_Restaurante }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_Restaurante })
            </td>
        </tr>
    }

</table>
