@model IEnumerable<Infraestructure.Models.Restaurante>

<h1 style="text-align: center">Mis restaurantes</h1>

@if (TempData["NotificationMessage"] != null)
{
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script type="text/javascript">
        var notificationType = '@TempData["NotificationType"]';
        var message = '@TempData["NotificationMessage"]';
        if (notificationType === 'error') {
            toastr.error(message);
        } else if (notificationType === 'warning') {
            toastr.warning(message);
        } else if (notificationType === 'info') {
            toastr.info(message);
        }else {
            toastr.success(message);
        }
    </script>
}
<p>
    <a href="@Url.Action("AgregarRestauranteView", "Restaurante")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Agregar nuevo restaurante</a>
</p>

<style>
    .este {
        height: 33.8em;
        overflow: auto;
    }
</style>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div id="detalleseleccion" name="detalleseleccion" class="este">
                <div class="card mb-3">
                    <h3 class="card-header">@item.Nombre</h3>
                    @*<img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Fotografia)" width="100%" height="100%" />*@
                    <div class="card-body">
                        <p><b>Ubicación: </b>@Html.DisplayFor(modelItem => item.Provincia), @Html.DisplayFor(modelItem => item.Canton), @Html.DisplayFor(modelItem => item.Distrito)</p>
                        <p class="card-text">
                            <b>Estado actual:</b>
                            @if (item.EstadoActual == "Activo")
                            {
                                <td>
                                    <a href="@Url.Action("CambiarEstado", "Restaurante", new {id = item.ID_Restaurante})" class="btn"><i class="fa-solid fa-utensils" style="color: green"></i> Activo</a>
                                </td>

                            }
                            else
                            {
                                <td>
                                    <a href="@Url.Action("CambiarEstado", "Restaurante", new {id = item.ID_Restaurante})" class="btn"><i class="fa-solid fa-utensils" style="color: red"></i> Inactivo</a>
                                </td>
                            }
                            <hr />
                        <a href="@Url.Action("DetalleRestauranteView", "Restaurante", new {id = item.ID_Restaurante})" class="btn"><i class="fa-solid fa-circle-info" style="color: blue"></i> Detalle</a>
                        <a href="@Url.Action("EditarRestauranteView", "Restaurante", new {id = item.ID_Restaurante})" class="btn"><i class="fa-solid fa-pen-to-square" style="color: orange"></i> Editar</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

