@model IEnumerable<Infraestructure.Models.Tarjeta>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/Content/Estilos/Tarjeta.css" rel="stylesheet" />
<h1 style="text-align: center">Mis tarjetas</h1>

@if (TempData["NotificationMessage"] != null)
{
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script type="text/javascript">
        var notificationType = '@TempData["NotificationType"]';
        var message = '@TempData["NotificationMessage"]';
        if (notificationType === 'error') {
            toastr.error(message);
        } else if (notificationType === 'warning') {
            toastr.warning(message);
        } else if (notificationType === 'info') {
            toastr.info(message);
        }else {
            toastr.success(message);
        }
    </script>
}

<p>
    <a href="@Url.Action("AgregarTarjetaView", "Tarjeta")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Agregar nueva tarjeta</a>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-lg-0 mb-3">
                <div class="card p-3 m-2">
                    <div class="img-box">
                        @if (item.ID_TipoTarjeta == 1)
                        {
                            <img src="https://www.freepnglogos.com/uploads/visa-logo-download-png-21.png" alt="">
                        }
                        else if (item.ID_TipoTarjeta == 2)
                        {
                            <img src="https://www.freepnglogos.com/uploads/mastercard-png/file-mastercard-logo-svg-wikimedia-commons-4.png"
                                 alt="">
                        }
                        else if (item.ID_TipoTarjeta == 3)
                        {
                            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/American_Express_logo_%282018%29.svg"
                                 alt="">
                        }
                        else if (item.ID_TipoTarjeta == 4)
                        {
                            <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-png-images-for-download-crazypngm-24.png"
                                 alt="">
                        }

                    </div>
                    <div class="number">
                        <label class="fw-bold" for="">@Html.DisplayFor(modelItem => item.NumeroTarjeta)</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <small><span class="fw-bold">Fecha de vencimiento: </span><span>@Html.DisplayFor(modelItem => item.MesVencimiento)/@Html.DisplayFor(modelItem => item.AnnoVencimiento)</span></small>
                        @if (item.EstadoActual == "Activo")
                        {
                            <a href="@Url.Action("CambiarEstado", "Tarjeta", new {id = item.ID_Tarjeta})" class="btn"><i class="fa-regular fa-credit-card" style="color: green"></i></a>
                        }
                        else
                        {
                            <a href="@Url.Action("CambiarEstado", "Tarjeta", new {id = item.ID_Tarjeta})" class="btn"><i class="fa-regular fa-credit-card" style="color: red"></i></a>
                        }
                        <a href="@Url.Action("EliminarTarjeta", "Tarjeta", new {id = item.ID_Tarjeta})" class="btn"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>